POSTGRES_DB=network_dashboard
POSTGRES_USER=admin
POSTGRES_PASSWORD=your_password_here
PG_CONN=postgresql://admin:your_password_here@postgres:5432/network_dashboard
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://admin:your_password_here@postgres:5432/
OPENSEARCH_PASSWORD=your_password_here
OPENSEARCH_HOST=https://opensearch-node:9200
OPENSEARCH_USER=admin
OPENSEARCH_INDEX=alarms-active
INVENTORY_INDEX=inventory-daily
OPENTSDB_HOST=http://opentsdb:4242

# paths to data — relative to /app inside the container
METRICS_DIR=./data/metrics
ALARMS_FILE=./data/elasticsearch_data/alarms-active.json
INVENTORY_DIR=./data/elasticsearch_data/inventory
